<html>
    <head>
        <title>{{ attribute(key="title") }}</title>
        {% include "stylesheets.html" %}
    </head>
    <body>
        <div class="background-image"></div>
        <div class="header">
            <h1 class="header-text">{{ attribute(key="title") }} <small>last-updated {{ last_modified() }}</small></h1>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            Find me on <a rel="me" href="https://fosstodon.org/@overcodes">Mastodon</a> <a href="https://github.com/over-codes">Github</a>
        </div>
    </body>
</html>